body {
  background-color: #ddd;
}

.chart {
  background-color: white;
  margin: 40px auto;
  padding: 0px;
  width: 1000px;
  height: 580px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 2.5em;
  font-family: sans-serif;
  color: rgb(0,82,165);
  text-align: center;
  padding: 15px 0px 5px 0px;
}

svg {
  margin: 0px auto;
  padding: 0px;
  background-color: white;
}

svg text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar {
  fill: rgb(0,82,165);
}

.bar:hover {
  fill: rgba(0,82,165, 0.3);
}

p {
  margin: 0;
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip-box {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255, 0.7);
}

.amount {
  font-size: 1em;
  font-weight: bold;
}

.year {
  font-size: 0.8em;
  font-weight: normal;
}